body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #faefdb;
}

.card {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #ffca99;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.card-body {
    padding: 16px;
    overflow: auto;
    display: flex;
    justify-content:baseline;
}

.card-image {
    float: right;
    margin-right: 16px;
    width: 200px;
    height:250px;
    border-radius: 8px;
}

.card-text {
    float: left;
    width:100%;
}
